@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply max-w-screen-2xl;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Open Sans, sans-serif, Roboto-Condensed, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    line-height: 1.6;
    font-size: 18px;
    background-color: #f8fafc;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
crossorigin img {
    max-width: 100%;
    display: block;
}

thead > tr > td {
    @apply font-bold;
}

td {
    @apply border-2 p-1 text-sm;
}


.fadeIn {
    opacity: 1;
    transition: opacity 3s ease
}

.blackOut {
    opacity: 0;
    transition: opacity .5s ease
}

.sectionHeading {
    @apply font-body text-2xl font-bold
}

.defaultWidth {
    @apply mx-2 lg:mx-auto lg:w-3/5 bg-white
}

